*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
}

body{
    color: aliceblue;
    background-color: black;
    display: flex;
    align-items: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: black;
    width: 90%;
    max-width: 800px;
    border: 2px solid #e1e1e6;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.question{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.answers-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.next-question{
    margin-top: 32px;
}

.button{
    background-color: #4863f7;
    color: aliceblue;
    font-size: 1rem;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    height: 48px;
    padding: 0 32px;
    transition: filter 0.2s;
}

.button:not(:disabled):hover{
    filter: brightness(0.8);
}

.hide{
    display: none;
}

.answer:disabled{
    cursor: not-allowed;

}

.correct{
    background-color: rgb(46, 158, 46);
}

.incorrect{
    background-color: red;
}